.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.cs
*/extensions/*/*.dll
*/datafiles/GmxGenTest.html

GmxGenTest_GM81/*.cpp
GmxGenTest_GM81/*.cs
GmxGenTest_GM81/*.dll
GmxGenTest_GM81/*.gb1
GmxGenTest_GM81/GmxGen.txt

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip
packages/

*.yy.new

*.sdf
help.rtf