.vs/
*/#backups/*
*/Configs/*/*

*/extensions/*/*.cpp
*/extensions/*/*.cs
*/extensions/*/*.dll
*/datafiles/GmxGenTest.html

*/Debug/
*/Release/
Debug/
Release/
export/*.gmz
export/*.gmez
export/*.yyz
export/*.yymp
export/*.yymps
export/*.png
export/*.zip
packages/

*.yy.new

*.sdf
help.rtf